.ConfirmButton {
    color: #ffffff;
    background-color: #007600;
    font-size: 1rem;
    padding: 0.6rem 1.2rem;
    border: none;
    letter-spacing: 1px;
    cursor: pointer;
}

.ConfirmButton:disabled {
    background-color: #00ff00;
    cursor: not-allowed;
}