.Form {
    display: flex;
    flex-direction: column;
}

.Form :is(input, textarea) {
    display: block;
    color: #1e262c;
    background-color: #f5f5f5;
    font-size: 1rem;
    padding: 0.5rem;
    resize: vertical;
    border: none;
}

.Preview {
    width: 200px;
    height: 100px;
    background-color: gray;
    margin-top: 0.5rem;
}

.Technologies {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.5rem;
}

.Technologies > * {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.Label {
    display: flex;
}

.Remove {
    color: gray;
    margin-left: auto;
    cursor: pointer;
}

.ButtonsWrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    margin-top: 2rem;
    gap: 8px;
}

.ButtonsWrapper > * {
    width: 100%;
    margin: 0 auto;
}

@media screen and (max-width: 680px) {
    .Form :is(input, textarea) {
        font-size: 0.8rem;
    }

    .ButtonsWrapper {
        grid-template-columns: 1fr;
    }
}