.menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(-100%);
  transition: transform 500ms ease-out;
  background-color: #030202;
  overflow-y: hidden;
  z-index: 1;

  &.open {
    transform: translateY(0);
    overflow-y: auto;

    // Animations are set if menu is opened.
    // This way, we'll make sure everytime "open" classname gets added, animation properties
    // will also be set again, making sure that animations run everytime.
    .linksWrapper {
      opacity: 0;
      transform: translateY(-25px);
      animation: content-delay forwards 400ms 1000ms ease-out;
    }
   
    .logoWrapper {
      animation: logo-delay forwards 400ms 800ms ease-out;
      opacity: 0;
    }
  }
}

.container {
  padding: 1rem;
}

@keyframes content-delay {
  10% {
    opacity: 0;
    transform: translateY(-25px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes logo-delay {
  10% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}