.Menu {
    /* display: none; */
    position: fixed;
    top: 72px;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #f7f7f7;
    transform: translateX(-100%);
    transition: transform 300ms ease;
}

.Menu.Open {
    /* display: block; */
    transform: translateX(0);
}

.Links {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50%;
}

.Links > li {
    margin: 0 16px;
}

.Links a {
    font-size: 2rem !important;
}