.mobileSidebar {
  display: none;
  margin: 1rem 0;
  height: fit-content;
  background-color: #141414;
  padding: 1rem;
}

.createdAt {
  margin-bottom: 2rem;

  h4 {
    margin-bottom: 12px;
  }

  div {
    color: #bdbdbd;
  }
}

@media screen and (max-width: 680px) {
  .mobileSidebar {
    display: block;
  }
}