@font-face {
  font-family: 'AlbertSans-ExtraBold';
  src: url('../../../public/fonts/AlbertSans-ExtraBold.ttf');
}

.showcase {
  display: flex;
  // align-items: center;
  min-height: 350px;
  min-height: 600px;
  color: #f4f4f4;
  background-color: #020303;
  padding: 1rem;
  margin-top: 72px;
}

.showcaseWrapper {
  width: 100%;
  max-width: 980px;
  margin: 0 auto;

  h2 {
    font-family: 'AlbertSans-ExtraBold';
    font-size: 3.8rem;
    margin-top: 6rem;
    text-transform: uppercase;
  }

  p {
    font-size: 1.6rem;
    margin: 0.5rem 0;
    margin-top: 3rem;
    line-height: 1.4;
  }
}

@media screen and (max-width: 680px) {
  .showcaseWrapper {
    h2 {
      font-size: 1.8rem;
      margin-bottom: 1rem;
      line-height: 1.2;
      text-align: center;
    }

    p {
      font-size: 1.2rem;
      text-align: center;
    }
  }
}